<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" dir="ltr" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <!-- <base href="/mega-app-2/"> -->
    <title>mega-app-2</title>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.rootElementId %>" style="height:100%"></div>
  </body>
</html>
